<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <h1>Itens dos Planos de Aula</h1>

<table border="1">
<thead>
    <tr>
    <th>Plano de Aula</th>
    <th>Conteúdo</th>
    <th>Procedimentos</th>
    <th>Recursos</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
</thead>
<tbody>
    {% for Item_plan in object_list %}
    <tr>
    <td>{{ Item_plan.plana }}</td>
    <td>{{ Item_plan.content }}</td>
    <td>{{ Item_plan.proced }}</td>
    <td>{{ Item_plan.recursos }}</td>
    <td><a href="{% url "Item_plan_view" Item_plan.id %}">view</a></td>
    <td><a href="{% url "Item_plan_edit" Item_plan.id %}">edit</a></td>
    <td><a href="{% url "Item_plan_delete" Item_plan.id %}">delete</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

<a href="{% url "Item_plan_new" %}">New</a>
</body>
</html>